<div class="col-md-12">
    <h3>Order Form</h3>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" class="form-control" formControlName="code" aria-describedby="Name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="payment-method">Payment Method</label>
            <select formControlName="method"  class="form-control">
                <option value="">Please select</option>
                <option value="bank">Bank</option>
                <option value="cash">Cash</option>
            </select>
        </div>
        <div class="form-group">
            <label for="code">Shipping</label>
            <input type="number" class="form-control" formControlName="shipping" aria-describedby="Name" placeholder="Name">
        </div>
        <div class="mt-2">
            <hr>
            <button class="btn btn-danger" (click)="onAddColor()">Add Color</button>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3>Product</h3>
                    <ul class="list-group" formArrayName="products">
                        <li *ngFor="let product of products.controls; let i = index;">
                            <div [formGroup]="product" class="ls-colors">
                                <kendo-colorpicker formControlName="color" [view]="'palette'"> </kendo-colorpicker>
                                &nbsp; <input type="text" class="form-control color" formControlName="productName"/>
                                &nbsp; <span class="bi bi-dash-circle-fill" (click)="removeColor(i)"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

