<mat-drawer-container class="example-container" style="height:100%;" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end" style="width:40%;">
    <p>Content of slidenav</p>
  </mat-drawer>
  <app-loading-bar></app-loading-bar>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome</span>
    <div class="spacer"></div>
    <ng-container *ngIf="authenticationService.token$ | async as token">
      <span>
       Hello: {{token.Username}} | &nbsp;
        <a aria-label="Logout" title="Logout" class="btn-login"  (click)="logOut()">
          Logout
        </a>
      </span>
    </ng-container>
    <ng-container *ngIf="!(authenticationService.token$ | async)">
      <a aria-label="Login" title="Login" class="btn-login" [routerLink]="['auth']">
        Login
      </a> | &nbsp;
      <a aria-label="Register" title="Register" class="btn-login" [routerLink]="['auth']">
        Register
      </a>
    </ng-container>
  </div>
  <div style="margin-top:60px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="[{outlets: { primary: 'product' }}]">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/observable">Observable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/observable-2">Observable 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/detection">Detection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/material">Material-UI</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [ngClass]="{'show': isShowSubMenu}" (click)="showSubMenu()" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Typescript
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': isShowSubMenu}" aria-labelledby="navbarDropdown">
              <li routerLink="/typescript" >Typescript</li>
              <li routerLink="/typescript-abstract">Typescript - Abstract</li>
              <li routerLink="/typescript-interface">Typescript - Interface</li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [ngClass]="{'show': isShowSubOtherMenu}" (click)="showSubMenuOther()" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': isShowSubOtherMenu}" aria-labelledby="navbarDropdown">
              <li routerLink="/auth" >Authentication</li>
            </ul>
          </li>
          <li class="nav-item">
            <span class="nav-link btn-slider" (click)="onShowSlider()">&#x2630;</span>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="padding:30px 10px;">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-slidebar *ngIf="isShowSlider"></app-slidebar> -->
  </div>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>