<div>
  <h4>Home Component</h4>
  <p> 
    <img src="https://localhost:44346/images/DavidRoberts-Portico_TempleOfEdfu_1838.jpg">
  </p>
  <input type="text" [(ngModel)]="name"> <br>
  <button class="btn btn-primary" (click)="onSendMsg()">Send Message</button>
  <hr>
  <ng-container *ngIf="isShow">
    <div>Render sample HTML</div>
  </ng-container>
  <hr>
  <!-- <app-authentication [name]="name"></app-authentication> -->

  {{name}}

  {{description}}

  {{objTest.name}}


  <div>
    <span>
      <p></p>
    </span>
    <section>
      <p></p>
    </section>
    <section>
      <p></p>
    </section>
    <section>
      <p></p>
    </section>
  </div>

  <ul class="list">
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <p id="content"></p>

</div>